<ion-view title="Contact Detail">
    <ion-content overflow-scroll="true" padding="'true'" class="has-header">
        <h1>Contact Name</h1>
        <form class="list">
            <ion-item>Item 1</ion-item>
            <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 25%; height: auto; background-color: rgb(255, 255, 255);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="button-bar">
                <button class="button button-stable button-icon button-block  icon-left ion-android-call">Call</button>
                <button class="button button-stable button-icon button-block  icon-left ion-android-textsms">Text</button>
                <button class="button  button-icon button-block  icon-left ion-android-delete">Delete</button>
            </div>
        </form>
    </ion-content>
</ion-view>